h1, h2{
    font-family: 'Roboto',
    sans-serif;
}
h1{
    font-size: 30px;
}
h2{
    text-align: center;
    margin-bottom: 0;
}
p, a, li, small{
    font-family: 'PT Sans',
    sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container section{
    padding-top: 80px;
}
.mealHide{
    display: none;
}
.img-res{
    width: 100%;
    height: auto;
}
.buttonWraper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
a.button{
    border: 2px solid black;
    color: black;
    display: inline-block;
    margin-top: 30px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
}
a.button:hover {
    background-color: #ff9800;
}
::placeholder {
    color: #ff9800;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ff9800;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ff9800;
}
span{
    font-family: 'Charm',
    cursive;
}
h2 + span{
    color: #ff9800;
    font-style: italic;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}