#home {
    background-image: url('../img/introBackground.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .introMessage {
        width: 100%;
        h1 {
            text-align: center;
            color: white;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .introButtons {
            display: flex;
            justify-content: center;
            a {
                color: white;
                border: 2px solid white;
                margin-top: 0px;
            }
            a:nth-child(1) {
                margin-right: 20px;
            }
        }
    }
}
