@import '_variables';
#ourMenu {
    #menuList {
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 70%;
        margin: auto;
        position: relative;
        // text-indent: 0;
        margin-bottom: 30px;

        li {
            margin-right: 10px;
            text-indent: 0;
            border-top: 0;
            border-bottom: 0;
            height: 30px;
            cursor: pointer;
        }
        li:last-child {
            margin-right: 0;
        }
    }
    .card span {
        color: $orange-color;
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 576px) { }
@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}