@import '_variables';

#Reservation{
      background-image: url('../img/food1.jpg');
          padding-top: 80px;
          padding-bottom: 80px;
    form{
        background-color: $orange-color;
        min-height: 250px;
        max-width: 800px;
        margin: 0 auto;
        h2{
            padding-top: 20px;
            margin-bottom: 30px;
        }
        input{
            text-align: center;
        }
    }
}
.formWrapper{
    padding: 15px;
    display: flex;
    justify-content: center;

}
.formItems{
    margin-bottom: 15px;
}
.formItems:nth-child(odd){
    margin-right: 15px;
}