@import '_variables';

#upcomingEvents{
    a{
        display: block;
        margin-top: 15px;
    }
}
.eventItem{
    margin-bottom: 30px;
    ul{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    a:hover{
        color: $orange-color;
    }
}
